* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

ul, li{
  list-style: none;
}

body, html{
  width: 100%;
  height: 100%;
  color: #fff;
  font-family: '微软雅黑';
}

i{
  display: inline-block;
  font-size: 14px;
}
.humid{
  display: block;
}

.flex{
  display: flex;
}

.login-wrapper{
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 99;
}

.login-title{
  text-align: center;
  padding: 40px 0;
  background: #4a98d6;
  font-size: 30px;
}
.login-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  text-align: center;
}
.serial-number{
  display: flex;
  margin-bottom: 20px;
  color: #333;
  font-size: 18px;
  line-height: 50px;
}

.serial-number input{
  width: 60%;
  border: 1px solid #eee;
  border-radius: 5px;
  margin-left: 15px;
  padding: 10px;
}
.login-btn{
  margin: 0 auto;
  background: #4a98d6;
  border-radius: 10px;
  line-height: 50px;
  font-size: 18px;
  color: #fff;
}

.wrapper{
  padding: 20px;
  width: 100%;
  height: 100%;
  background: url(../img/bg.png), no-repeat;
  background-size: cover;
}

.content-top{
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 100%;
}

.logo{
  width: 100%;
  height: 80px;
  padding-top: 20px;
}

.name{
  padding: 0 15px;
  box-sizing: border-box;
  width: 100%;
  height: 80px;
}
img{
  display: block;
  width: 100%;
}

.date-box{
  height: 10%;
	font-size: 18px;
}

.tip-box{
  height: 40%;
	font-size: 18px;
}

.chinese{
  font-size: 40px;
  letter-spacing: 43px;
}

.english{
  word-spacing: 40px;
  letter-spacing: 7px;
}

.content{
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  width: 90%;
  height: 100%;
}

.content-left{    
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.left-section {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  height: 85%;
  justify-content: space-between;
}

.content-right{
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.list{
  display: flex;
  margin-bottom: 12px;
  width: 100%;
  height: 80%;
  font-size: 0;
}

.list .item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
  width: 33.33333%;
  text-align: center;
  box-sizing: border-box;
}

.title{
  height: 10%;
}

span{
  display: block;
}

.title-cn{
  font-size: 22px;
}

.num{
  position: relative;
  height: 30%;
  background: url(../img/status-lv1.png) no-repeat center;
  background-size: contain;
  font-size: 50px;
}
.num-val {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.status-lv1 {
  background-image: url(../img/status-lv1.png);
}
.status-lv2 {
  background-image: url(../img/status-lv2.png);
}
.status-lv3 {
  background-image: url(../img/status-lv3.png);
}
.status-lv4 {
  background-image: url(../img/status-lv4.png);
}
.status-lv5 {
  background-image: url(../img/status-lv5.png);
}
.status-lv6 {
  background-image: url(../img/status-lv6.png);
}

.info {
  display: flex;
  flex-direction: column;
  height: 40%;
  padding: 0 30px;
  background: url(../img/line.png) right center no-repeat;
  background-size: contain;
}

.item:last-child .info {
  background-image: none;
}

.info-data{
  justify-content: space-between;
  height: 25%;
  text-align: left;
}

.info-data span{
  display: inline-block;
  padding-bottom: 10px;
  font-size: 20px;
}