* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

ul, li{
  list-style: none;
}

body, html{
  width: 100%;
  height: 100%;
  color: #fff;
  font-family: '微软雅黑';
}

i{
  display: inline-block;
  font-size: 14px;
}
.humid{
  display: block;
}

.flex{
  display: flex;
}

.wrapper{
  padding: 20px;
  width: 100%;
  height: 100%;
  background: url(../imgs/bg.png), no-repeat;
  background-size: cover;
}

.content-top{
  width: 35%;
}

.logo{
  width: 100%;
  padding-top: 20px;
}

.name{
  flex: 1;
  padding: 0 15px;
  box-sizing: border-box;
  width: 100%;
}
img{
  display: block;
  width: 100%;
}

.chinese{
  font-size: 40px;
  letter-spacing: 43px;
}

.english{
  word-spacing: 40px;
  letter-spacing: 7px;
}

.content{
  padding: 0 40px;
  width: 90%;
}

.content-left{
  padding-top: 160px;
}

.content-right{
  margin-top: 10%;
}

.list{
  width: 100%;
  font-size: 0;
}

.list .item{
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  width: 33.33333%;
  padding: 0 30px;
  text-align: center;
  box-sizing: border-box;
}

.title{
  padding-bottom: 40px;
}

span{
  display: block;
}

.title-cn{
  font-size: 22px;
}

.num{
  display: inline-block;
  line-height: 120px;
  width: 120px;
  height: 120px;
  background: url(../imgs/status-green.png) no-repeat center;
  background-size: 120px 120px;
  font-size: 50px;
}
.outdoor_num {
  background: url(../imgs/status-yellow.png) no-repeat center;
}

.info{
  padding-top: 40px;
}

.info-data{
  justify-content: space-between;
  text-align: left;
}

.info-data span{
  display: inline-block;
  padding-bottom: 10px;
  font-size: 20px;
}